body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
    overscroll-behavior: none;
    overflow: hidden;
}

.panel {
	position: absolute;
}

#nearest {
	top: 1%;
	left: 1%;
}