body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
    overscroll-behavior: none;
    overflow: hidden;
}
.panel {
	position: absolute;
}
#slices {
	top: 1%;
	left: 1%;
}
#alphaThreshold {
	top: 5%;
	right: 1%;
	width: 15%;
}
#alphaValue {
	top: 12.5%;
	right: 1%;
	width: 15%;
}
#sampleFactor {
	top: 20%;
	right: 1%;
	width: 15%;
}
#clipPlaneX {
	top: 27.5%;
	right: 1%;
	width: 15%;
}
#cubeControls {
	top: 50%;
	right: 1%;
	width: 10%;
}